{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}
      {% include author-profile.html %}
    {% endif %}

    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src="{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% endfor %}
    {% endif %}

    <!-- 院徽 Logo 部分 -->
    <div style="margin-top: 5px; text-align: left;">
      <a href="https://rgzn.nuist.edu.cn/index.htm" target="_blank" title="Visit the School of Artificial Intelligence at NUIST">
        <img src="{{ '/assets/img/nuist_ai_logo.png' | relative_url }}" alt="NUIST Logo" style="width: 200px; height: auto;">
      </a>
    </div>
  </div>
{% endif %}

